<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="shortcut icon" type="imagex/png" href="./img/imagens/icon.ico">
    <link rel="stylesheet" href="./css/style.css">
    <title>PokéDex</title>
</head>
<body>
    <!-- <nav>
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>
        <div class="container_navbar_itens">

            <div class="pokedex"><img src="./img/imagens/pokedex.png" alt="pokedex" /></div>
                
            <input type="text" id="input_pesquisa" name="fname" placeholder="Pesquisar...">

            <form action=""  class="navbar_itens" id="filtros">
        
                <select name="filtro_1" id="filtro" placeholder="filtro">
                    <option value="filtro">Filtro</option>
                    <option value="planta">Planta</option>
                    <option value="fogo">Fogo</option>
                    <option value="agua">Água</option>
                    <option value="choque">Choque</option>
                </select>
            
                <select name="filtro_2" id="filtro">
                    <option value="filtro">Filtro</option>
                    <option value="planta">Planta</option>
                    <option value="fogo">Fogo</option>
                    <option value="agua">Água</option>
                    <option value="choque">Choque</option>
                </select>            
            
                <select name="ordem" id="filtro">
                    <option value="ordenar">Ordenar</option>
                    <option value="nome">Nome</option>
                    <option value="tipo">Tipo</option>
                    <option value="dano">Dano</option>
                    <option value="vida">Vida</option>
                    <option value="defesa">Defesa</option>

                </select>                

            </form>

        </div>
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

    </nav> -->

    <nav class="navbar">
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

        <div class="navbar-itens">

            <a class="container_navbar_itens" id="container_navbar_itens_home" href="/">

                <span></span>
                <div class="container_itens">
                    <span class="material-icons">home</span>
                    <h2 id="material-text">Home</h2>                    
                </div>
                <span class="selection" id="selection_home"></span>

            </a>
            
            <a class="container_navbar_itens" id="container_navbar_itens_pokedex" href="/detalhes">

                <span></span>
                <div class="container_itens_poke" id="container_itens_poke">

                    <ul id="ulcircle">
                        <li class="poke-line" id="poke-line1"></li>
                        <li id="poke-circle"></li>
                        <li class="poke-line" id="poke-line2"></li>
                    </ul>                    
                    <h2 id="material-text">Pokédex</h2>
                    <span class="selection"></span>

                </div>
                <span class="selection" id="selection_pokedex"></span>

            </a>

            <a class="container_navbar_itens" id="container_navbar_itens_add" href="/cadastro">

                <span></span>
                <div class="container_itens">                
                    <span class="material-icons">add</span>
                    <h2 id="material-text">Add</h2>
                    <span class="selection add"></span>
                </div>
                <span class="selection" id="selection_add"></span>

            </a>            

        </div>

        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

    </nav>

    <main>

        <div class="container_add" >

            <div class="card_add" id="card_add">

                <img src="./img/imagens/plus.png" class="card_img_plus" alt="Imagem" title="" />                

                <h2>ADD</h2>                

            </div>


            <form action="/add"  class="card_form" id="card_form" method="post">

                <div class="card_form_row">
                    <label for="id">Número:</label>
                    <input type="text" id="id" name="id" placeholder="001" size="8">
                </div>

                <div class="card_form_row">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" placeholder="Pikachu" size="8">
                </div>

                <div class="card_form_row">
                    <label for="tipo">Tipo:</label>
                    <input type="text" id="tipo" name="tipo" placeholder="Choque" size="8">
                </div>
                
                <div class="card_form_row">
                    <label for="habilidade">Habilidade:</label>
                    <input type="text" id="habilidade" name="habilidade" placeholder="Estático" size="8">
                </div>

                <div class="card_form_row">
                    <label for="categoria">Categoria:</label>
                    <input type="text" id="categoria" name="categoria" placeholder="Rato" size="8">
                </div>
                

                <div class="card_form_row">
                    <label for="altura">Altura:</label>
                    <input type="text" id="altura" name="altura" placeholder="40 cm" size="8">
                </div>

                <div class="card_form_row">
                    <label for="peso">Peso:</label>
                    <input type="text" id="peso" name="peso" placeholder="6 kg" size="8">
                </div>                

                <label for="imagem">Imagem:</label>
                <textarea type="text" id="imagem" name="imagem" placeholder="http//" size="10"></textarea>
                <label for="descricao">Descrição:</label>
                <textarea type="text" id="descricao" name="descricao" placeholder="Pikachu que pode gerar eletricidade poderosa tem bolsas nas bochechas que são extra macias e super elásticas." size="10"></textarea>

                <button id="submit_cadastro" type="submit">Cadastrar</button>

            </form>

        </div>

        <% pokedex.forEach((pokemon) =>{%>

        
            <div class="container_card" id="container_card">

                <div class="card" id="card">

                    <h2 id="numero">Nº <%= pokemon.id %></h2>
                    <img src="<%= pokemon.imagem %>" class="card_img" alt="Imagem" title="" />
                    <h2 id="nome"><%= pokemon.nome %></h2>                                                   
                    
                </div>

                <div class="lista" id="lista">
                    <span class="label">Tipo: </span><span class="label_resp"><%= pokemon.tipo %></span><br>
                    <span class="label">Categoria: </span><span class="label_resp"><%= pokemon.categoria %></span><br>
                    <span class="label">Habilidade: </span><span class="label_resp"><%= pokemon.habilidade %></span><br>                                
                    <span class="label">Altura: </span><span class="label_resp"><%= pokemon.altura %> cm</span><br>
                    <span class="label">Peso: </span><span class="label_resp"><%= pokemon.peso %> kg</span><br>                    
                    <span class="label">Descrição: </span><span class="label_resp"><%= pokemon.descricao %></span><br>
                    
                </div> 

            </div>
        <% }) %>

        


    </main>




    <footer>

    </footer>


    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>