<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="shortcut icon" type="imagex/png" href="./img/imagens/icon.ico">
    <link rel="stylesheet" href="../css/stylePokedex.css">
    <title>PokéDex</title>
</head>
<body>
    

    <nav class="navbar">
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

        <div class="navbar-itens">

            <a class="container_navbar_itens" id="container_navbar_itens_home" href="/">

                <span></span>
                <div class="container_itens">
                    <span class="material-icons">home</span>
                    <h2 id="material-text">Home</h2>                    
                </div>
                <span class="selection" id="selection_home"></span>

            </a>
            
            <a class="container_navbar_itens" id="container_navbar_itens_pokedex" href="/detalhes">

                <span></span>
                <div class="container_itens_poke" id="container_itens_poke">

                    <ul id="ulcircle">
                        <li class="poke-line" id="poke-line1"></li>
                        <li id="poke-circle"></li>
                        <li class="poke-line" id="poke-line2"></li>
                    </ul>                    
                    <h2 id="material-text">Pokédex</h2>
                    <span class="selection"></span>

                </div>
                <span class="selection" id="selection_pokedex"></span>

            </a>

            <a class="container_navbar_itens" id="container_navbar_itens_add" href="/cadastro">

                <span></span>
                <div class="container_itens">                
                    <span class="material-icons">add</span>
                    <h2 id="material-text">Add</h2>
                    <span class="selection add"></span>
                </div>
                <span class="selection" id="selection_add"></span>

            </a>            

        </div>

        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

    </nav>

    <main>
        
    
        <div class="main__filtro">
            
                
            <input type="text" id="input_pesquisa" name="fname" placeholder="Pesquisar...">

            <form  class="navbar_itens" id="filtros">
        
                <select name="filtro" id="filtro" method="post" action="/filtro">
                    <option value="filtro">Tipo:</option>
                    <option value="planta">Planta</option>
                    <option value="fogo">Fogo</option>
                    <option value="agua">Água</option>
                    <option value="choque">Choque</option>
                </select>                         
            
                <select name="ordem" id="ordem">
                    <option value="ordenar">Ordenar</option>
                    <option value="nome">Nome</option>
                    <option value="tipo">Tipo</option>
                    <option value="dano">Dano</option>
                    <option value="vida">Vida</option>
                    <option value="defesa">Defesa</option>

                </select>                

            </form>

        </div>
        

    

        <div class="main__cards">

            <% pokedex.forEach((pokemon) =>{%>

        
                <div class="container_card" id="container_card">
    
                    <div class="card" id="card">
    
                        <h2 id="numero">Nº <%= pokemon.id %></h2>
                        <img src="<%= pokemon.imagem %>" class="card_img" alt="Imagem" title="" />
                        <h2 id="nome"><%= pokemon.nome %></h2>                                                   
                        
                    </div>
                    <div class="lista" id="lista">
                        <span class="label">Tipo: <%= pokemon.tipo %></span>
                        <span class="label">Categoria: <%= pokemon.categoria %></span>
                        <span class="label">Habilidade: <%= pokemon.habilidade %></span>                                
                        <span class="label">Altura: <%= pokemon.altura %> cm</span>
                        <span class="label">Peso: <%= pokemon.peso %> kg</span>                    
                        <span class="label">Descrição: <%= pokemon.descricao %></span>
                        
                    </div>             
    
                </div>
            <% }) %>



        </div>

        

        


    </main>




    <footer>

    </footer>


    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>